body {
	margin: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Helvetica, sans-serif;
}

h1 {
	margin: 50px auto;
}

#yt {
	margin: 0 auto;
}

button {
	margin: 50px auto;
	font-size: 18px;
}
